@charset "UTF-8";

body{
	background:linear-gradient(rgb(45, 95, 224),rgb(64, 112, 237));
	height:100vh;
}

table{
	position:relative;
	margin:0 auto;
	background-color:#FFF;
	top:10vw;
}
input{
	border:none;
	outline:none;
	text-align: center;
}
td{text-align:center;}
th{
	background-color:rgb(175, 186, 58);
	background:linear-gradient(rgb(175, 186, 58),rgb(176, 167, 42));
}
input[placeholder="Apoio"]{
	color:#CC3311;
}